.lesson{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-content: center;
    border: 1px solid rgb(177,48,89);
    border-radius: 0.2rem;
    margin: 0.5rem;
}

.lesson-information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.lesson p{
    margin-bottom: 0;
    margin: 1rem;
    text-align: left;
    width: 100%;
}

.statusIcon{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}


.glow{
    box-shadow: 0px 0px 0.6rem rgb(255, 98, 148);
    border-radius: 1rem;
}


.start-lesson{
    background: linear-gradient(90deg, #C41C5C 0%, #CE5885 100%);
    opacity: 0.9;
    color: white;
    width: 50%;
    margin-right: 0.2rem;
}

.summarized-information{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

.summarized-information p{
    font-size: 1.3rem;
}


#progressbar{
    width: 15rem !important;
}

.progress-bar{
    background-color: rgb(255, 98, 148);
}
