.card-carreira{
    width: 13rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    border-radius: 1rem;
    text-align: left;
    color:white;
    background-origin:padding-box;
    background: radial-gradient(rgba(106, 19, 93, 0.25),rgba(27, 24, 60, 0.93));
}

.catalogo-carreira,.catalogo-cursos{
    background-image: url("../../../../../assets/courses_bg.svg");
    background-repeat: no-repeat;
    background-position: bottom;

}

.content-carreira{
    width: 90%;
    min-height: 13rem;
}

.imagem-card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 100%;

}

.course-begin{
    width: 100%;
    margin-bottom: 1rem;
}

.course-begin-btn{
    background: linear-gradient(90deg, #C41C5C 0%, #CE5885 100%);
    color: white;
    width: 100%;
}

.blocked{
    pointer-events: none;
    opacity: 0.5;
}

.wrapper{
    display: flex;
    justify-content: center;
    cursor:not-allowed;
    width: 90%;
    margin-bottom: 1rem;
}

.field{
    opacity: 0.4;
    margin-bottom: 0;
    margin-top: 0.1rem;
}