.card-carreira{
    min-width: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    background-color: rgba(14, 14, 51, 0.454);
    border-radius: 1rem;
    text-align: left;
    color:white;
    
}

.imagem-card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 100%;

}

.course-begin{
    width: 100%;
    margin-bottom: 1rem;
}

.card-carreira button{
    background: linear-gradient(90deg, #C41C5C 0%, #CE5885 100%);
    color: white;
}